body {
    display: flex;
    justify-content: center;
    background-color: #dddddd;
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.calculator {
    align-items: center;
    border: 3px solid black;
    border-radius: 20px;
    height: 555px;
    width: 350px;
    background-color: #575555;
}

.display-one {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #dddddd;
    margin: 20px;
    margin-bottom: 0px;
    height: 50px;
    font-size: 30px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.display-two {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #dddddd;
    margin: 20px;
    margin-top: 0px;
    height: 50px;
    font-size: 30px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.input-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    gap: 10px;
}

button {
    height: 70px;
    width: 70px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 25px;
    background-color: #dddddd;
    transition: 0.3s;
}
button:hover {
    background: #c4c2c2;
}

.clear-button {
    width: 150px;
    margin-left: 20px;
    margin-bottom: -8px;
    background-color: #e4e0a6;
    transition: 0.3s;
}
.clear-button:hover {
    background: #c9c691;
  }

.operator-button {
    background-color: #ffe4c4;
    transition: 0.3s;
}
.operator-button:hover {
    background: #d4bea4;
  }

.equals-button {
    background-color: #d4b3d8;
}
.equals-button:hover {
    background: #bfa2c2;
  }